.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none;
}
.swiper-button-prev,
.swiper-button-next{
    padding:0 4rem;
    color: chartreuse;
}