.react-tabs__tab-list{
    border: none;
}
.react-tabs__tab--selected{
    border: none;
    background-color:#5b1ae9 !important;
    color: white !important;
}
.react-tabs__tab{
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-right: 5px;
}
.react-tabs__tab>h1, h2, h3,h4, h5,h6{
    background-color: gainsboro;
    padding: 20px 0;
}