.tabs_container {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, .1);
    border-radius: 10px;
}

.tabs_box {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    transition: .4s ease-in-out;
    position: relative;
}

.tabs_box .tab_button {
    font-size: 18px;
    font-weight: 600;
    background: none;
    padding: 12px;
    cursor: pointer;
    border: none;
    transition: .4s ease-in-out;
}

.tabs_box .tab_button.active {
    color: #09d446;
}

.tabs_contant {
    padding: 20px;
    margin-top: 40px;
    max-width: 90%;
    width: 100%;
    margin: auto;
}

.tabs_contant .contant {
    display: none;
    animation: moving .5s;
}
.day-content{
    width: 100%;
}
.day-text{
    width: 300px;
    padding: 5px 10px;
    margin-right: 3px ;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
}
.day-text:nth-last-child(1){
    margin-right: 0;
}
.day-discription{
    text-align: center;
    border-right: 2px solid white;
    padding: 10px 2px;
    transition: .6s;
}
.day-discription:hover{
    background-color: rgb(2, 159, 186) !important;
}
.hoverText{
    background-color: rgb(2, 159, 186) !important;
    position: absolute;
    top: -120px;
    left: 0;
    transition: .6s;
    padding: 14px 5px;
    border-radius: 5px 5px 0 0;
    transition: .5s;
    opacity: 0;
    z-index: 2001;
}
.hoverText .arror{
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(2, 159, 186);
    transform: translateX(-50%) rotate(45deg);
    transition: .5s;
    z-index: 1001;
}
.day-discription:hover> .hoverText {
    opacity: 1;
    animation: animation .5s ease;
}
.day-discription:nth-last-child(1){
    margin-right: none;
}
@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
        transition: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        transition: 1.8s ease;
    }
}

.tabs_contant .contant.active {
    display: block;
    transition: .4s;
}

.tabs_container .contant {
    margin-bottom: 10px;
    transition: .4s;
}
.tabs_container .contant table {
    overflow-x: scroll;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .tabs_box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tabs_box .tab_button {
        padding: 10px;
    }
    .tabs_contant {
        margin-bottom: 10px;
    }
}
