.btn {
    --color: #00f6ff;
    font-family: inherit;
    display: inline-block;
    width: fit-content;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    font-weight: 500;
    color: var(--color);
    background-color: #F7F7F7;
    border: none;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 250px;
    border-radius: 50%;
    border: none;
   }
   
   .btn:hover {
    color: #fff;
   }
   
   .btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn:active:before {
    background: #00f6ff;
    transition: background 0s;
   }